{% extends "base.html.twig" %}

{% block body %}
  <div id="formulaire">
    <h2>{{ titre }}</h2>

    {{ form_start(form) }}
      {{ form_widget(form) }}
    {{ form_end(form) }}
  </div>
{% endblock %}